{
  "extends": "airbnb-base",
  "env": {
    "browser": true
  },
  "rules": {
    "no-console": [ "warn", { "allow": ["error"] } ],
    "class-methods-use-this": "off",
    "no-use-before-define": ["error", { "functions": false, "classes": true }]
  }
}
