.home {
  &__image {
    display: flex;
    justify-content: center;
    background: linear-gradient(#e98a00, #f5aa2f);
  }
}

h1 {
  text-decoration: underline;

  &:after {
    content: ' ! ';
    display: inline-block;
    color: $secondary-color;
  }
}

img {
  display: block;
}
